@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .my_grid {
        @apply font-main mx-2 grid grid-cols-4 gap-1 md:mx-10 md:grid-cols-8 lg:mx-24 lg:grid-cols-12;
    }
}

@layer base {
    html {
        overflow: scroll;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 0px;
    }

    ::-webkit-scrollbar-thumb {
        background: #ff0000;
    }
    select {
        @apply border-b1 focus:border-b1 focus:ring-b1 w-full rounded-lg shadow-sm;
    }
}
